{% extends 'base.html' %}
{% load static %}

{% block title %}Our Courses - Fitness{% endblock %}

{% block content %}
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Courses</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active text-primary">Course</li>
                </ol>    
            </div>
        </div>
        <div class="container-fluid goal pt-5" style="margin: 90px 0;">
            <div class="container pt-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="goal-content">
                            <h4 class="text-primary">Fitness Goal</h4>
                            <h1 class="display-4 mb-4">Complete your possibilities, Achieve Your Fitness Goals.</h1>
                            <div class="goal-item d-flex p-4">
                                <div class="d-flex me-4">
                                    <div class="bg-primary d-inline p-3" style="width: 80px; height: 80px;">
                                        <img src="{% static 'img/icon-1.png' %}" class="img-fluid" alt="Dumbbell Icon">
                                    </div>
                                </div>
                                <div>
                                    <h4>Free Fitness Training</h4>
                                    <p class="text-white mb-0">Experience complimentary fitness training sessions designed to introduce you to our facility and help you get started on your wellness journey. Our certified trainers will guide you through effective exercises tailored to your needs.</p>
                                </div>
                            </div>
                            <div class="goal-item d-flex p-4 mb-4">
                                <div class="d-flex me-4">
                                    <div class="bg-primary d-inline p-3" style="width: 80px; height: 80px;">
                                        <img src="{% static 'img/icon-6.png' %}" class="img-fluid" alt="Heartbeat Icon">
                                    </div>
                                </div>
                                <div>
                                    <h4>Cardio and Strength</h4>
                                    <p class="text-white mb-0">Our gym offers a comprehensive range of cardio and strength equipment to help you build endurance, muscle, and overall fitness. From treadmills to free weights, we have everything you need for a complete workout.</p>
                                </div>
                            </div>
                            <!-- <div class="ms-1">
                                <a href="#" class="btn btn-primary py-3 px-5 ms-2"> <span>Read Details</span></a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="h-100">
                            <img src="{% static 'img/fitness-goal-banner.png' %}" class="img-fluid h-100" style="object-fit: cover;" alt="Fitness Goal Banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid courses overflow-hidden py-5" style="margin-bottom: 90px;">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary"> Our Courses</h4>
                    <h1 class="display-4 text-white mb-4">Explore Our Diverse Class Offerings Below</h1>
                    <p class="text-white mb-0">Dive into our extensive range of fitness courses, designed to cater to all levels and interests. Whether you're a beginner or an advanced athlete, you'll find a class that challenges you and helps you meet your fitness aspirations.
                    </p>
                </div>
                <div class="row gy-4 gx-0 justify-content-center">
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="courses-item">
                            <div class="courses-item-inner p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="courses-icon-img p-3">
                                        <img src="{% static 'img/icon-1.png' %}" class="img-fluid" alt="Icon 1">
                                    </div>
                                    <div class="data-info d-flex flex-column">
                                        <div class="courses-trainer d-flex align-items-center mb-1">
                                            <div class="me-2" style="width: 25px; height: 25px;">
                                                <img src="{% static 'img/testimonial-3.jpg' %}" class="img-fluid" alt="Trainer Image">
                                            </div>
                                            <p class="mb-0">Paul Flavius</p>
                                        </div>
                                        <div class="courses-date">
                                            <p class="mb-1">Date: Saturday</p>
                                            <p class="mb-0">Time: 06.00 - 07.00</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="d-inline-block h4 mb-3"> Gym Fitness Class</a>
                                <p class="mb-4">Our general fitness class focuses on overall body conditioning, combining various exercises to improve strength, flexibility, and cardiovascular health in a motivating gym environment.
                                </p>
                                <!-- <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="courses-item">
                            <div class="courses-item-inner p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="courses-icon-img p-3">
                                        <img src="{% static 'img/icon-2.png' %}" class="img-fluid" alt="Icon 2">
                                    </div>
                                    <div class="data-info d-flex flex-column">
                                        <div class="courses-trainer d-flex align-items-center mb-1">
                                            <div class="me-2" style="width: 25px; height: 25px;">
                                                <img src="{% static 'img/testimonial-3.jpg' %}" class="img-fluid" alt="Trainer Image">
                                            </div>
                                            <p class="mb-0">Paul Flavius</p>
                                        </div>
                                        <div class="courses-date">
                                            <p class="mb-1">Date: Saturday</p>
                                            <p class="mb-0">Time: 06.00 - 07.00</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="d-inline-block h4 mb-3"> Power Lifting Class</a>
                                <p class="mb-4">Designed for those seeking to maximize strength, our power lifting class covers techniques for squats, bench press, and deadlifts, helping you safely lift heavier weights and build raw power.
                                </p>
                                <!-- <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="courses-item">
                            <div class="courses-item-inner p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="courses-icon-img p-3">
                                        <img src="{% static 'img/icon-3.png' %}" class="img-fluid" alt="Icon 3">
                                    </div>
                                    <div class="data-info d-flex flex-column">
                                        <div class="courses-trainer d-flex align-items-center mb-1">
                                            <div class="me-2" style="width: 25px; height: 25px;">
                                                <img src="{% static 'img/testimonial-3.jpg' %}" class="img-fluid" alt="Trainer Image">
                                            </div>
                                            <p class="mb-0">Paul Flavius</p>
                                        </div>
                                        <div class="courses-date">
                                            <p class="mb-1">Date: Saturday</p>
                                            <p class="mb-0">Time: 06.00 - 07.00</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="d-inline-block h4 mb-3"> Body Building Class</a>
                                <p class="mb-4">Our body building class focuses on muscle hypertrophy and definition through targeted strength training, proper form, and progressive overload techniques, suitable for all experience levels.
                                </p>
                                <!-- <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="courses-item">
                            <div class="courses-item-inner p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="courses-icon-img p-3">
                                        <img src="{% static 'img/icon-4.png' %}" class="img-fluid" alt="Icon 4">
                                    </div>
                                    <div class="data-info d-flex flex-column">
                                        <div class="courses-trainer d-flex align-items-center mb-1">
                                            <div class="me-2" style="width: 25px; height: 25px;">
                                                <img src="{% static 'img/testimonial-3.jpg' %}" class="img-fluid" alt="Trainer Image">
                                            </div>
                                            <p class="mb-0">Paul Flavius</p>
                                        </div>
                                        <div class="courses-date">
                                            <p class="mb-1">Date: Saturday</p>
                                            <p class="mb-0">Time: 06.00 - 07.00</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="d-inline-block h4 mb-3"> Aerobics & Skipping Class</a>
                                
                                <p class="mb-4">Boost your cardiovascular health and coordination with our energetic aerobics and skipping class, combining rhythmic exercises and jump rope drills for a fun and effective workout.
                                </p>
                                <!-- <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="courses-item">
                            <div class="courses-item-inner p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="courses-icon-img p-3">
                                        <img src="{% static 'img/icon-5.png' %}" class="img-fluid" alt="Icon 5">
                                    </div>
                                    <div class="data-info d-flex flex-column">
                                        <div class="courses-trainer d-flex align-items-center mb-1">
                                            <div class="me-2" style="width: 25px; height: 25px;">
                                                <img src="{% static 'img/testimonial-3.jpg' %}" class="img-fluid" alt="Trainer Image">
                                            </div>
                                            <p class="mb-0">Paul Flavius</p>
                                        </div>
                                        <div class="courses-date">
                                            <p class="mb-1">Date: Saturday</p>
                                            <p class="mb-0">Time: 06.00 - 07.00</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="d-inline-block h4 mb-3"> Boxing Class</a>
                                <p class="mb-4">Learn fundamental boxing techniques, improve your agility, and enhance your stamina in our dynamic boxing class. It's a full-body workout that's both challenging and empowering.
                                </p>
                                <!-- <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="courses-item">
                            <div class="courses-item-inner p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="courses-icon-img p-3">
                                        <img src="{% static 'img/icon-6.png' %}" class="img-fluid" alt="Icon 6">
                                    </div>
                                    <div class="data-info d-flex flex-column">
                                        <div class="courses-trainer d-flex align-items-center mb-1">
                                            <div class="me-2" style="width: 25px; height: 25px;">
                                                <img src="{% static 'img/testimonial-3.jpg' %}" class="img-fluid" alt="Trainer Image">
                                            </div>
                                            <p class="mb-0">Paul Flavius</p>
                                        </div>
                                        <div class="courses-date">
                                            <p class="mb-1">Date: Saturday</p>
                                            <p class="mb-0">Time: 06.00 - 07.00</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="d-inline-block h4 mb-3"> Cardio Class</a>
                                <p class="mb-4">Improve your heart health and endurance with our high-energy cardio class. Featuring a mix of aerobic exercises, this class is designed to burn calories and boost your overall fitness level.
                                </p>
                                <!-- <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a> -->
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                        <a href="#" class="btn btn-primary py-3 px-5"> <span>More Courses</span></a>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="container-fluid testimonial bg-dark py-5" style="margin-bottom: 90px;">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Testimonial</h4>
                    <h1 class="display-4 text-white">What Our Customers Are Saying</h1>
                </div>
                <div class="testimonial-carousel owl-carousel wow fadeInUp" data-wow-delay="0.2s">
                    <div class="testimonial-item mx-auto" style="max-width: 900px;">
                        <span class="fa fa-quote-left fa-3x quote-icon"></span>
                        <div class="testimonial-img mb-4">
                            <img src="{% static 'img/testimonial-1.jpg' %}" class="img-fluid" alt="Client Testimonial Image 1">
                        </div>
                        <p class="fs-4 text-white mb-4">Our members consistently praise the supportive environment and comprehensive facilities at our gym. They often highlight the personalized attention from trainers and the wide variety of classes as key factors in their success and satisfaction.
                        </p>
                        <div class="d-block">
                            <h4 class="text-white">Client Name</h4>
                            <p class="m-0 pb-3">Profession</p>
                            <div class="d-flex">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-white"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item mx-auto" style="max-width: 900px;">
                        <span class="fa fa-quote-left fa-3x quote-icon"></span>
                        <div class="testimonial-img mb-4">
                            <img src="{% static 'img/testimonial-2.jpg' %}" class="img-fluid" alt="Client Testimonial Image 2">
                        </div>
                        <p class="fs-4 text-white mb-4">Many of our clients appreciate the clean and well-maintained equipment, as well as the welcoming atmosphere that makes them feel comfortable during their workouts. The flexible class schedules are also a common highlight among our satisfied members.
                        </p>
                        <div class="d-block">
                            <h4 class="text-white">Client Name</h4>
                            <p class="m-0 pb-3">Profession</p>
                            <div class="d-flex">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-white"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item mx-auto" style="max-width: 900px;">
                        <span class="fa fa-quote-left fa-3x quote-icon"></span>
                        <div class="testimonial-img mb-4">
                            <img src="{% static 'img/testimonial-3.jpg' %}" class="img-fluid" alt="Client Testimonial Image 3">
                        </div>
                        <p class="fs-4 text-white mb-4">Our gym is highly recommended by members for its motivating environment and the noticeable results they achieve. The variety of training options, from individual coaching to group sessions, receives frequent positive feedback.
                        </p>
                        <div class="d-block">
                            <h4 class="text-white">Client Name</h4>
                            <p class="m-0 pb-3">Profession</p>
                            <div class="d-flex">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}