{% extends 'base.html' %}
{% load static %}

{% block title %}Our Features - Fitness{% endblock %}

{% block content %}
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Features</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active text-primary">Feature</li>
                </ol>    
            </div>
        </div>
        <div class="container-fluid feature bg-light py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary"> Why choose us?</h4>
                    <h1 class="display-4 mb-4">Discover Our Key Features Below</h1>
                    <p class="mb-0">At our fitness center, we prioritize your success and well-being. Our state-of-the-art equipment, experienced trainers, and diverse class offerings are designed to provide a holistic fitness experience that caters to all levels.</p>
                </div>
                <div class="feature-carousel owl-carousel">
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature-img">
                            <img src="{% static 'img/feature-1.jpg' %}" class="img-fluid w-100"  alt="Workout Image 1">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">Work Your Butt Off</h4>
                            <p class="mb-4">Push your limits with our high-intensity training sessions and challenging workout programs. Our trainers will motivate you to achieve your personal best and surpass your fitness goals.</p>
                            <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="feature-img">
                            <img src="{% static 'img/feature-2.jpg' %}" class="img-fluid w-100"  alt="Workout Image 2">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">Get In The groove</h4>
                            <p class="mb-4">Join our vibrant group classes where you can find your rhythm and enjoy a dynamic workout experience. From Zumba to dance fitness, there's a class for every interest and energy level.</p>
                            <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature-img">
                            <img src="{% static 'img/feature-3.jpg' %}" class="img-fluid w-100"  alt="Workout Image 3">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">It's more Than A Game</h4>
                            <p class="mb-4">Fitness is a journey, not just a competition. We emphasize holistic wellness, focusing on mental and physical health to ensure you build a sustainable and enjoyable fitness routine.</p>
                            <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="feature-img">
                            <img src="{% static 'img/feature-4.jpg' %}" class="img-fluid w-100"  alt="Workout Image 4">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">Get Fit Don't Quit</h4>
                            <p class="mb-4">Our dedicated team provides continuous support and encouragement to keep you motivated. We believe in consistency and perseverance, helping you stay committed to your fitness journey.</p>
                            <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="feature-shaps"></div>
            </div>
        </div>
        {% endblock %}