{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Fitness{% endblock %}

{% block content %}
        <div class="header-carousel owl-carousel overflow-hidden bg-dark">
            <div class="header-carousel-item hero-section">
                <div class="hero-bg-half-1"></div>
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row g-4 align-items-center">
                            <div class="col-lg-7 animated fadeInLeft">
                                <div class="text-sm-center text-md-start">
                                    <h4 class="text-primary text-uppercase fw-bold mb-4">Welcome to our fitness Center</h4>
                                    <h1 class="display-1 text-white mb-4">The best gym center is now in your city</h1>
                                    <p class="mb-5 fs-5">Join us for a transformative fitness journey! Our state-of-the-art gym offers a wide range of equipment and expert trainers to help you achieve your health and wellness goals.
                                    </p>
                                    <!-- <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                        <a class="btn btn-dark py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> <span>Watch Video</span></a>
                                        <a class="btn btn-primary py-3 px-4 px-md-5 ms-2" href="#"><span>Learn More</span></a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-carousel-item hero-section">
                <div class="hero-bg-half-2"></div>
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row g-4 align-items-center">
                            <div class="col-lg-7 animated fadeInLeft">
                                <div class="text-sm-center text-md-start">
                                    <h4 class="text-primary text-uppercase fw-bold mb-4">Welcome to our fitness Center</h4>
                                    <h1 class="display-2 text-white mb-4">Stay healthy by exercising at the best gym center</h1>
                                    <p class="mb-5 fs-5">Prioritize your well-being with our comprehensive fitness programs. Our dedicated team and modern facilities provide the ideal environment for all your workout needs, ensuring you stay active and healthy.
                                    </p>
                                    <!-- <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                        <a class="btn btn-dark py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> <span>Watch Video</span></a>
                                        <a class="btn btn-primary py-3 px-4 px-md-5 ms-2" href="#"><span>Learn More</span></a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid about pt-5">
            <div class="container pt-5">
                <div class="row g-5">
                    <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-content h-100">
                            <h4 class="text-primary">About Fitness Center</h4>
                            <h1 class="display-4 text-white mb-4">We are the best at fulfilling your potential and achieving your goals.</h1>
                            <p class="mb-4">At our fitness center, we are dedicated to helping you unlock your full potential and achieve all your fitness aspirations. Whether you're aiming for strength, endurance, or overall wellness, our expert team is here to guide you every step of the way.</p>
                            <div class="tab-class pb-4">
                                <ul class="nav d-flex mb-2">
                                    <li class="nav-item mb-3">
                                        <a class="d-flex py-2 active" data-bs-toggle="pill" href="#tab-1">
                                            <span style="width: 150px;">Our Mission</span>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <a class="d-flex py-2 mx-3" data-bs-toggle="pill" href="#tab-2">
                                            <span style="width: 150px;">Our Vision</span>
                                        </a>
                                    </li>
                                    <li class="nav-item mb-3">
                                        <a class="d-flex py-2" data-bs-toggle="pill" href="#tab-3">
                                            <span style="width: 150px;">Our Goal</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane fade show p-0 active">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="d-flex align-items-center border-top border-bottom py-4">
                                                    <span class="fas fa-rocket text-white fa-4x me-4"></span>
                                                    <p class="mb-0">Our mission is to empower individuals to live healthier, more active lives by providing top-notch fitness facilities, personalized training programs, and a supportive community environment. We strive to make fitness accessible and enjoyable for everyone, regardless of their starting point or fitness level.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-2" class="tab-pane fade show p-0">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="d-flex align-items-center border-top border-bottom py-4">
                                                    <span class="fas fa-rocket text-white fa-4x me-4"></span>
                                                    <p class="mb-0">Our vision is to be the leading fitness center in the city, recognized for our innovative training methods, exceptional member support, and commitment to fostering a vibrant fitness culture. We aim to inspire a lasting passion for health and wellness in our members.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-3" class="tab-pane fade show p-0">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="d-flex align-items-center border-top border-bottom py-4">
                                                    <span class="fas fa-rocket text-white fa-4x me-4"></span>
                                                    <p class="mb-0">Our goal is to help each member achieve their individual fitness milestones, whether it's building strength, improving cardiovascular health, losing weight, or competing in events. We measure our success by the progress and satisfaction of our community, continually adapting our services to meet evolving needs.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-4 align-items-center">
                                <!-- <div class="col-sm-6">
                                    <a href="#" class="btn btn-primary py-3 px-5"> <span>Make Appointment</span></a>
                                </div> -->
                                <div class="col-sm-6">
                                    <div class="d-flex flex-shrink-0 ps-4">
                                        <a href="#" class="btn btn-light btn-lg-square position-relative wow tada" data-wow-delay=".9s">
                                            <i class="fa fa-phone-alt fa-2x"></i>
                                            <div class="position-absolute" style="top: 5px; right: 5px;">
                                                <span><i class="fa fa-comment-dots text-dark"></i></span>
                                            </div>
                                        </a>
                                        <div class="d-flex flex-column ms-3">
                                            <span>Call to Our Experts</span>
                                            <a href="tel:+ 0123 456 7890"><span class="text-white">Free: + 0123 456 7890</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="about-img h-100">
                            <div class="about-img-inner d-flex h-100">
                                <img src="{% static 'img/about-2.png' %}" class="img-fluid w-100" style="object-fit: cover;" alt="Fitness Center interior">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid goal pt-5">
            <div class="container pt-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="goal-content">
                            <h4 class="text-primary">Fitness Goal</h4>
                            <h1 class="display-4 mb-4">Complete your possibilities, Achieve Your Fitness Goals.</h1>
                            <div class="goal-item d-flex p-4">
                                <div class="d-flex me-4">
                                    <div class="bg-primary d-inline p-3" style="width: 80px; height: 80px;">
                                        <img src="{% static 'img/icon-1.png' %}" class="img-fluid" alt="Dumbbell Icon">
                                    </div>
                                </div>
                                <div>
                                    <h4>Free Fitness Training</h4>
                                    <p class="text-white mb-0">Experience complimentary fitness training sessions designed to introduce you to our facility and help you get started on your wellness journey. Our certified trainers will guide you through effective exercises tailored to your needs.</p>
                                </div>
                            </div>
                            <div class="goal-item d-flex p-4 mb-4">
                                <div class="d-flex me-4">
                                    <div class="bg-primary d-inline p-3" style="width: 80px; height: 80px;">
                                        <img src="{% static 'img/icon-6.png' %}" class="img-fluid" alt="Heartbeat Icon">
                                    </div>
                                </div>
                                <div>
                                    <h4>Cardio and Strength</h4>
                                    <p class="text-white mb-0">Our gym offers a comprehensive range of cardio and strength equipment to help you build endurance, muscle, and overall fitness. From treadmills to free weights, we have everything you need for a complete workout.</p>
                                </div>
                            </div>
                            <!-- <div class="ms-1">
                                <a href="#" class="btn btn-primary py-3 px-5 ms-2"> <span>Read Details</span></a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="h-100">
                            <img src="{% static 'img/fitness-goal-banner.png' %}" class="img-fluid h-100" style="object-fit: cover;" alt="Fitness Goal Banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid feature bg-light py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary"> Why choose us?</h4>
                    <h1 class="display-4 mb-4">Discover Our Key Features Below</h1>
                    <p class="mb-0">At our fitness center, we prioritize your success and well-being. Our state-of-the-art equipment, experienced trainers, and diverse class offerings are designed to provide a holistic fitness experience that caters to all levels.</p>
                </div>
                <div class="feature-carousel owl-carousel">
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature-img">
                            <img src="{% static 'img/feature-1.jpg' %}" class="img-fluid w-100"  alt="Workout Image 1">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">Work Your Butt Off</h4>
                            <p class="mb-4">Push your limits with our high-intensity training sessions and challenging workout programs. Our trainers will motivate you to achieve your personal best and surpass your fitness goals.</p>
                            <!-- <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a> -->
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="feature-img">
                            <img src="{% static 'img/feature-2.jpg' %}" class="img-fluid w-100"  alt="Workout Image 2">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">Get In The groove</h4>
                            <p class="mb-4">Join our vibrant group classes where you can find your rhythm and enjoy a dynamic workout experience. From Zumba to dance fitness, there's a class for every interest and energy level.</p>
                            <!-- <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a> -->
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature-img">
                            <img src="{% static 'img/feature-3.jpg' %}" class="img-fluid w-100"  alt="Workout Image 3">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">It's more Than A Game</h4>
                            <p class="mb-4">Fitness is a journey, not just a competition. We emphasize holistic wellness, focusing on mental and physical health to ensure you build a sustainable and enjoyable fitness routine.</p>
                            <!-- <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a> -->
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="feature-img">
                            <img src="{% static 'img/feature-4.jpg' %}" class="img-fluid w-100"  alt="Workout Image 4">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">Get Fit Don't Quit</h4>
                            <p class="mb-4">Our dedicated team provides continuous support and encouragement to keep you motivated. We believe in consistency and perseverance, helping you stay committed to your fitness journey.</p>
                            <!-- <a href="#" class="btn btn-primary py-2 px-4"> <span>Read More</span></a> -->
                        </div>
                    </div>
                </div>
                <div class="feature-shaps"></div>
            </div>
        </div>
        <div class="container-fluid explore py-5 wow zoomIn" data-wow-delay="0.2s">
            <div class="container py-5 text-center">
                <h1 class="display-1 text-white mb-0"> Explore Fitness Center</h1>
                <a class="btn btn-primary py-3 px-4 px-md-5 me-2" href="https://www.youtube.com/embed/DWRcNpR6Kdc"><i class="fas fa-play-circle me-2"></i> <span>Watch Video</span></a>
            </div>
        </div>
        <div class="container-fluid team py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Our Trainer</h4>
                    <h1 class="display-4 mb-4">Meet Our Amazing Team</h1>
                    <p class="mb-0">Meet our team of highly skilled and passionate trainers, dedicated to guiding you through your fitness journey. Each trainer brings unique expertise and a commitment to helping you achieve your personal best.</p>
                </div>
                <div class="row gy-5 gy-lg-4 gx-4">
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-1.jpg' %}" class="img-fluid w-100" alt="Team Member 1">
                                <div class="team-icon">
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-instagram"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <h4>Trainer Name</h4>
                                <p class="mb-0">Profession</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-2.jpg' %}" class="img-fluid w-100" alt="Team Member 2">
                                <div class="team-icon">
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-instagram"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <h4>Trainer Name</h4>
                                <p class="mb-0">Profession</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-3.jpg' %}" class="img-fluid w-100" alt="Team Member 3">
                                <div class="team-icon">
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-instagram"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <h4>Trainer Name</h4>
                                <p class="mb-0">Profession</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-4.jpg' %}" class="img-fluid w-100" alt="Team Member 4">
                                <div class="team-icon">
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-instagram"></i></a>
                                    <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <h4>Trainer Name</h4>
                                <p class="mb-0">Profession</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}